<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Add Student</title>

    {% load static %}

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

</head>

<body>

<div class="container">

    <div class="card form-card">

        <h1>
            Add Student
        </h1>

        <p class="subtitle">
            Enter student information
        </p>


        <form method="POST">

            {% csrf_token %}


            <div class="form-group">

                <label>
                    Full Name
                </label>

                {{ form.name }}

                {{ form.name.errors }}

            </div>


            <div class="form-group">

                <label>
                    Email
                </label>

                {{ form.email }}

                {{ form.email.errors }}

            </div>


            <div class="form-group">

                <label>
                    Phone Number
                </label>

                {{ form.phone }}

                {{ form.phone.errors }}

            </div>


            <div class="form-group">

                <label>
                    Course
                </label>

                {{ form.course }}

                {{ form.course.errors }}

            </div>


            <button
                type="submit"
                class="btn-primary"
            >
                Register Student
            </button>


            <a
                href="{% url 'student-list' %}"
                class="btn-back"
            >
                Back to Student List
            </a>

        </form>

    </div>

</div>

</body>

</html>